<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "Apple Pay"}); %>

<body>
  
  <%- include('navbar'); %>

  <script src="https://applepay.cdn-apple.com/jsapi/v1/apple-pay-sdk.js"></script>

  <div class="m-3" id="apple-pay-availability"></div>
  <div class="m-3" style="display: none" id="apple-pay-button">
    <style>
      apple-pay-button {
        --apple-pay-button-width: 150px;
        --apple-pay-button-height: 30px;
        --apple-pay-button-border-radius: 3px;
        --apple-pay-button-padding: 0px 0px;
        --apple-pay-button-box-sizing: border-box;
      }
    </style>
    <apple-pay-button buttonstyle="black" type="plain" locale="en"></apple-pay-button>
  </div>
  <pre class="m-3" id="apple-pay-result"></pre>

  <%- include('bootstrap-js'); %>
  <script type="module" src="apple-pay.js"></script>
</body>
</html>