<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "Braintree"}); %>

<body>

  <%- include('navbar'); %>
  
  <div class="container-fluid ms-3 position-absolute start-0" style="width: 400px">
    <h6>Hosted Fields</h6>
    <div class=" border border-3 rounded-2">
      <form action="/" id="my-sample-form" method="post">
        <label for="card-number">Card Number</label>
        <div id="card-number"></div>

        <label for="cvv">CVV</label>
        <div id="cvv"></div>

        <label for="expiration-date">Expiration Date</label>
        <div id="expiration-date"></div>

        <input type="submit" value="Pay" disabled />
      </form>
    </div>
  </div>

  <%- include('bootstrap-js'); %>
  <script src="https://js.braintreegateway.com/web/3.100.0/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.100.0/js/hosted-fields.min.js"></script>
  <script type="module" src="braintree.js"></script>
</body>
</html>