<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "Events"}); %>

<body class="bg-light">

  <%- include('navbar'); %>

  <%- include('bootstrap-js'); %>
  <script type="module" src="events.js"></script>
</body>
</html>