<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "Frames"}); %>

<body class="bg-light">
  
  <%- include('navbar'); %>
  
  <div class="container-fluid">
    <!-- add frames script -->
    <script src="https://cdn.checkout.com/js/framesv2.min.js"></script>
    <div class="one-liner">
      <div class="card-frame mb-3"><!-- form will be added here --></div>
      <!-- add submit button -->
      <!-- <button id="pay-button" disabled>Tokenize</button> -->
    </div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Event</th>
            <th scope="col">Payload</th>
          </tr>
        </thead>
        <tbody id="events-table-body">
        </tbody>
      </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <script type="module" src="frames.js"></script>
</body>
</html>