<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "Google Pay"}); %>

<body>

  <style>
    #google-pay-button-container {
      width: 160px;
      height: 40px;
      display: inline-block;
    }
    #google-pay-result {
      font-size: 0.75rem;
      background: transparent !important;
      white-space: pre-wrap;
      word-break: break-all;
    }
  </style>

  <%- include('navbar'); %>

  <meta id="public-key" data-public-key="<%= publicKey %>">

  <div class="m-3 d-flex flex-column" style="gap: 0.25em;">
    <div id="google-pay-button-container"></div>
  </div>

  <div class="m-3">
    <pre id="google-pay-result"></pre>
  </div>
    
  <script async src="https://pay.google.com/gp/p/js/pay.js" onload="initGooglePay()"></script>
  <script src="js/google-pay.js"></script>
 
  <%- include('bootstrap-js'); %>
  
</body>

</html>