<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "CKO Test Harness"}); %>

<body>

  <%- include('navbar'); %>
  
  <div class="container-fluid">

  <!-- action dropdown & submit button -->
  <div class="d-inline-flex mb-3">
    <div class="input-group">
      <select class="form-select" id="action">
        <option value="select-your-action">Select your action:</option>
        <optgroup label="Payments">
          <option value="request-payment">Request Payment</option>
          <option value="request-payout">Request Payout</option>
          <option value="get-payment-details">Get Payment Details</option>
          <option value="get-payment-actions">Get Payment Actions</option>
          <option value="capture-payment">Capture Payment</option>
          <option value="refund-payment">Refund Payment</option>
          <option value="void-payment">Void Payment</option>
        </optgroup>
        <optgroup label="3DS">
          <option value="request-3ds-payment">3DS - Request Payment</option>
        </optgroup>
        <optgroup label="Hosted Payment Page">
          <option value="hpp-session">Get HPP Session</option>
        </optgroup>
        <optgroup label="Payment Links">
          <option value="payment-link">Get Payment Link</option>
        </optgroup>   
        <optgroup label="Risk">
          <option value="pre-3ds-risk-scan">Pre-3DS Risk Scan</option>
        </optgroup>
      </select>
      <button id="submit-button" class="btn btn-secondary" type="button" disabled>
        <span id="submit-button-text">Submit</span>
        <span id="submit-button-processing" class="visually-hidden">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span>Processing...</span>
        </span>
      </button>
    </div>
  </div>

  <!-- wraps endpoint & request body -->
  <div id="request-visibility" class="visually-hidden">
    
    <!-- endpoint input group -->
    <div class="input-group mb-3">
      <span class="input-group-text" id="request-verb"></span>
      <span class="input-group-text" id="request-origin">https://api.sandbox.checkout.com</span>
      <input type="text" class="form-control" id="request-path">
    </div>

    <div class="row">
      <!-- request body -->
      <div class="col">
        <h6>Request Message</h6>
        <textarea class="form-control" id="request-body" rows="15" style="font-size: x-small;"></textarea>
      </div>
      <!-- response status, msg, & body -->
      <div class="col">
        <div id="response-visibility" class="visually-hidden">
          <h6 id="response-header"></h6>
          <textarea class="form-control" id="response-body" rows="15" style="font-size: x-small;"></textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- iframe -->
  <div class="d-flex justify-content-center">
    <iframe id="iframe" name="iframe"></iframe>
  </div>

  <!-- modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-flex justify-content-center">
            <iframe id="modal-iframe" name="modal-iframe" width="100%" height="100%" frameborder="0" scrolling="yes"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<%- include('bootstrap-js'); %>
<script type="module" src="index.js"></script>
</body>
</html>