<nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-3 shadow-sm">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">UPAPI</a></li>
        <li class="nav-item"><a class="nav-link" href="/flow">Flow</a></li>
        <li class="nav-item"><a class="nav-link" href="/frames-single">Frames-Single</a></li>
        <li class="nav-item"><a class="nav-link" href="/frames-multiple">Frames-Multiple</a></li>
        <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/pan-generator">PAN Generator</a></li> <li class="nav-item"><a class="nav-link" href="/risk-js">Risk.js</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="apmDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            APMs
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow border-0" aria-labelledby="apmDropdown">
            <li><a class="dropdown-item" href="/apple-pay">Apple Pay</a></li>
            <li><a class="dropdown-item" href="/google-pay">Google Pay</a></li>
            <li><a class="dropdown-item" href="/paypal">PayPal</a></li>
            <li><a class="dropdown-item" href="/plaid-ach">Plaid ACH</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>