<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "PAN Generator"}); %>

<body class="bg-light">

  <%- include('navbar'); %>
  
  <div class="container-fluid">
    <div class="d-flex flex-row">
      <div class="d-flex flex-column">
        <div class="mb-3">
          <label for="num-pans" class="form-label">How many PANs?</label>
          <input type="text" class="form-control" id="num-pans" value="10">
        </div>
        <div class="mb-3">
          <label for="pan-length" class="form-label">Length of PANs?</label>
          <input type="text" class="form-control" id="pan-length" value="16">
        </div>
        <div class="mb-3">
          <label for="pan-prefix" class="form-label">Prefix of PANs?</label>
          <input type="text" class="form-control" id="pan-prefix" value="4">
        </div>
        <div class="mb-3">
          <button type="button" class="btn btn-secondary" id="generate-pans-button">Generate PANs</button>
        </div>
      </div>
      <div class="d-flex flex-column ms-3" id="pans-div" style="font-family: monospace;">
        <!-- to be replaced with generated PANs -->
      </div>
    </div>
  </div>
  <%- include('bootstrap-js'); %>
  <script type="module" src="pan-generator.js"></script>
</body>
</html>