<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "PAN Generator"}); %>

<body>

  <%- include('navbar'); %>
  
  <div class="container-fluid">
    <div style="float: left;">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="num-pans" value="10">
        <label for="num-pans">How many PANs?</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="pan-length" value="16">
        <label for="pan-length">Length of PANs?</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="pan-prefix" value="4">
        <label for="pan-prefix">Prefix of PANs?</label>
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-secondary" id="generate-pans-button">Generate PANs</button>
      </div>
    </div>
    <div class="ms-3" id="pans-div" style="float: left; font-family: monospace;">
      <!-- to be replaced with generated PANs -->
    </div>
  </div>
  <%- include('bootstrap-js'); %>
  <script type="module" src="js/pan-generator.js"></script>
</body>
</html>