<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "PayPal"}); %>

<body>

  <%- include('navbar'); %>
  
  <div class="container-fluid">
    <div style="float:left;">
      <div id="paypal-button-container"></div>
      <script src="https://www.paypal.com/sdk/js?client-id=sb&intent=capture&buyer-country=US&merchant-id=CTM2PE2LRYM8Y" data-partner-attribution-id="CheckoutLtd_PSP"></script>
    </div>
    <div style="float:left; clear:both">
      <pre class="form-control" id="response-pre"></pre>
    </div>
  </div>

  <%- include('bootstrap-js'); %>
  <script type="module" src="paypal.js"></script>
</body>

</html>