<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "PayPal"}); %>

<body class="bg-light">

  <%- include('navbar'); %>
  
  <div class="container-fluid">

    <!-- copied from https://developer.paypal.com/demo/checkout/#/pattern/server -->

        <div id="paypal-button-container" style="width: 250px;"></div>
        <!-- Sample PayPal credentials (client-id) are included -->
        <script src="https://www.paypal.com/sdk/js?client-id=AW-hPoLkmmu7u7Cu6cPf-kbGCz8YBLnAMUtDBfmqXQS0_XuIviDY13t6iOLIFzdtB3MHESU1jpbGgWNA&currency=USD&intent=capture&enable-funding=venmo&buyer-country=US&merchant-id=AFEU9UC6LY4FS" data-sdk-integration-source="integrationbuilder"></script>
        <script type="module" src="paypal.js"></script>

  </div>
  <%- include('bootstrap-js'); %>
</body>

</html>