<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "Risk.js"}); %>

<body>

  <%- include('navbar'); %>

  <div class="container-fluid">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="public-key" value="<%= publicKey %>" style="width: 25em">
        <label for="public-key">Public Key</label>
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-secondary" id="button">Generate Device Session</button>
      </div>
      <div style="font-family: monospace; white-space: nowrap;" id="output"></div> 
  </div>

  <script id="risk-js" async src="https://risk.sandbox.checkout.com/cdn/risk/1/risk.js"></script>
  <script async type="module" src="js/risk-js.js"></script>
  
  <%- include('bootstrap-js'); %>

</body>

</html> 