<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "Risk.js"}); %>

<body class="bg-light">

  <%- include('navbar'); %>

  <div class="m-3">
    <label for="public-key" class="form-label">Public Key:</label>
    <input style="width:500px" type="text" class="form-control" id="public-key">
  </div>
  <div class="m-3">
    <button type="button" class="btn btn-secondary" id="button">Generate Device Session</button>
  </div>
  <div class="m-3" style="font-family: monospace; white-space: nowrap;" id="output"></div> 
  <script id="risk-js" async src="https://risk.sandbox.checkout.com/cdn/risk/1/risk.js"></script>
  <script async type="module" src="/risk-js.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>

</html> 