<!DOCTYPE html>
<html lang="en">

<%- include('head', {title: "Trustly"}); %>

<body class="bg-light">
  
  <%- include('navbar'); %>

  <button type="button" class="btn btn-secondary ms-3" id="button">Submit</button>

  <%- include('bootstrap-js'); %>
  <script type="module" src="trustly.js"></script>
</body>
</html>