table thead tr th {font-family: monospace; font-size:x-small}
table tr th {font-family: monospace; font-size:x-small}
table tr td {font-family: monospace; font-size:x-small}
.form-control {font-family: monospace; font-size: x-small;}